<div class="card">
  <img src="" alt="Image de la carte" class="card-image">
  <div class="card-content">
    <h3>Titre de la carte...</h3>
    <p class="card-summary">Résumé du texte...</p>
    <button class="card-button">"Lire la suite</button>
    <p class="card-full-text">Texte complet...</p>
  </div>
</div>


<!-- Ce bloc de code est le bloc original et complet. Il est comenté, car il produit des erreurs
Raisons des erreurs ::
1/ Error: src/app/components/card/card.component.html:5:42 - error TS2339: Property 'showFullText' does not exist on type 'CardComponent'.

2/ Error: src/app/components/card/card.component.html:6:38 - error TS2339: Property 'showFullTextFlag' does not exist on type 'CardComponent'.
-->

<!--div class="card">
  <img src="chemin_vers_image.jpg" alt="Image de la carte" class="card-image">
  <div class="card-content">
    <p class="card-summary">Résumé du texte...</p>
    <button class="card-button" (click)="showFullText()>"Lire la suite</button>
    <p class="card-full-text" *ngIf="showFullTextFlag">Texte complet...</p>
  </div>
</div-->
